<template>
  <CFooter :fixed="false">    
    <div class="ml-auto">
      <span class="mr-1">Vuejs Test</span>      
    </div>
  </CFooter>
</template>

<script>
export default {
  name: 'TheFooter'
}
</script>
