<template>
  <CHeader fixed with-subheader light>        
    <CSubheader class="px-3">
      <CBreadcrumbRouter class="border-0 mb-0"/>
    </CSubheader>
  </CHeader>
</template>

<script>
export default {
  name: 'TheHeader',  
}
</script>
