<template>
  <div>
    <CRow>
      <CCol lg="12">        
        <div v-if="message" class="alert" :class="successful ? 'alert-success' : 'alert-danger'">{{message}}</div>
        <CCard>                  
          <CCardHeader>
            <strong>Create Post</strong>            
          </CCardHeader>
          <CForm name="form" @submit.prevent="handlePost">  
            <CCardBody>                      
              <div role="group" class="form-group form-row">
                <label class="col-form-label col-sm-3"> User </label>
                <div class="col-sm-9">
                  <select class="form-control" v-model="user">
                    <option value="">Please select</option>
                    <option v-for="user in users" :value="user.id" :key="user.id">{{ user.name }}</option>
                  </select>
                  <div v-if="submitted && !$v.user.required" class="invalid-feedback">Please select user.</div>
                </div>
              </div>  
              <div role="group" class="form-group form-row">
                <label class="col-form-label col-sm-3"> Title </label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" v-model="title" id="title" name="title"/>
                  <div v-if="submitted && !$v.title.required" class="invalid-feedback">Title is required.</div>
                </div>                
              </div> 
              <div role="group" class="form-group form-row">
                <label class="col-form-label col-sm-3"> Body </label>
                <div class="col-sm-9">
                  <textarea class="form-control" v-model="body" id="body" name="body" rows="9"></textarea>
                  <div v-if="submitted && !$v.body.required" class="invalid-feedback">Body is required.</div>
                </div> 
              </div>                                                  
            </CCardBody>
            <CCardFooter>
              <CButton type="submit" color="primary">Submit</CButton>            
            </CCardFooter>
          </CForm>
        </CCard>
      </CCol>
    </CRow>    
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators';

export default {
  name: 'CreatePost',
  data: function () {
    return {     
      users: [],      
      selectedUser: null,
      user:'',
      title:'', 
      body:'',
      submitted: false,
      message: '',
      successful: false
    }
  },
  validations: {
    user: {
      required
    },
    title: {
      required      
    },
    body: {
      required
    }
  },
  methods: {
    loadUsers () {
      this.$axios.get('/users')
      .then((response) => {
        this.users = response.data;
      })
    },
    handlePost(e) {
      this.message = '';
      this.submitted = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }      
      this.$axios.post('/posts', {
        userId: this.user,
        title: this.title,
        body: this.body
      })
      .then(response => {                
        this.message = "Post Created Successfully...";
        this.successful = true;
        this.user = '';
        this.title = '';
        this.body = '';
        e.target.reset();
      })
      .catch(error => {
        console.log(error);
      })      
    }
  },
  mounted: function () {
    this.loadUsers()
  }  
}
</script>
<style scoped>
  .invalid-feedback {
    display: block;
    color: red;    
  }
</style>