<template>
  <div>
    <CRow v-if="posts && posts.length">      
      <CCol sm="6" md="4" v-for="post of posts">
        <CCard>
          <CCardHeader>
            <b><router-link :to="{ name: 'PostDetail', params: { id: post.id }}">{{post.title}}</router-link></b>
          </CCardHeader>              
          <CCardBody>{{post.body}}</CCardBody>
          <CCardFooter>
            <h6 v-if="users && users[post.userId]">Posted by {{users[post.userId].name}}</h6>            
            <h6 v-if="post.comments">Comments : {{post.comments.length}}</h6>
          </CCardFooter>
        </CCard>
      </CCol>          
    </CRow>
    <CRow>   
      <CCol sm="6" md="4">
        <CButton block color="primary">Posts In Page ({{postsInPage}})</CButton>
      </CCol> 
      <CCol sm="6" md="4">
      </CCol>
      <CCol sm="6" md="4">
        <CButton block color="primary" v-bind:class="[isFinished ? 'finish' : 'load-more']" @click='getPosts()'>{{ buttonText }}</CButton>
      </CCol>
    </CRow>  
    <br />
  </div>
</template>

<script>
export default {
  name: 'Posts',
  data: function () {
    return {
      isFinished: false,
      row: 1,
      rowperpage: 10,
      buttonText: 'Load More',
      posts: [],
      users: {},
      postsInPage: 0
    }
  },
  methods: {
    loadUsers () {
      this.$axios.get('/users')
      .then((response) => {
        this.users = response.data.reduce((acc, value) => {
          acc[value.id] = value;
          return acc;
        }, {})
      })
    },
    getPosts: function(){
      this.$axios.get('/posts?_sort=id&_order=desc&_embed=comments', {
        params: {
          _page: this.row,
          _limit: this.rowperpage,
        }
      })
      .then(response => {              
        if(response.data !='' ){
          //this.row+=this.rowperpage;
          this.row++;    
          this.postsInPage+=this.rowperpage;                     
          var len = this.posts.length;          
          if(len > 0){
            this.buttonText = "Loading ...";
            //setTimeout(function() {
              this.buttonText = "Load More";
              
              for (let i = 0; i < response.data.length; i++){                
                this.posts.push(response.data[i]);                
              } 
            //},500);
          }else{
            this.posts = response.data;
          }
        }else{
          this.buttonText = "No More Records Avaiable.";
          this.isFinished = true;
        }
      })
      .catch(error => {
        console.log(error);
      })
    }
  },
  created: function(){   
    this.getPosts();
  },
  mounted: function () {
    this.loadUsers()
  }
}
</script>
