<template>
  <div>
    <div class="card">
      <div class="card-header">
        <h2>{{post.title}}</h2>
      </div>
      <div class="card-body">
        <p>{{post.body}}</p>
      </div>
      <div class="card-footer">
        <h5 v-if="users && users[post.userId]">Posted by {{users[post.userId].name}}</h5>        
        <h5 v-if="post.comments">Comments : {{post.comments.length}}</h5>
      </div>
    </div>    
  </div>
</template>

<script>
export default {
  name: 'PostDetail',
  data: function () {
    return {      
      id: this.$route.params.id,
      post: {},
      users: {}
    }
  },
  methods: {
    loadUsers () {
      this.$axios.get('/users')
      .then((response) => {
        this.users = response.data.reduce((acc, value) => {
          acc[value.id] = value;
          return acc;
        }, {})
      })
    },    
  },
  created: function(){       
    this.$axios.get('/posts/'+this.id+'?_embed=comments')
    .then(response => {                
      this.post = response.data;
    })
    .catch(error => {
      console.log(error);
    })
  },
  mounted: function () {
    this.loadUsers()
  }
}
</script>
